<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/beans"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean class="com.springcore.springcore.Student" name="student1">
 <property name="studentId">
 <value>124</value>
 </property>
 <property name="studentName">
 <value>suman ghosh</value>
 </property>
 <property name="studentAddress">
 <value>siliguri</value>
 </property>
 
 </bean>
 
 </beans>